<div class="container-fluid">
    <br>
    <div class="row justify-content-center">
        <h2>Kantoor</h2>
    </div>
    <br>
    <div class="card-deck">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <h4>Temperatuur: {{ actual_temp }} °C</h4>
                {% if thermostat_status == 'closed' %}
                <p>Thermostaat is: <span style="color: red; ">dicht</span></p>
                {% else %}
                 <p>Thermostaat is: <span style="color: green; ">open</span></p>
                {% endif %}
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Doel temperatuur</h5>
                <p class="card-text">
                <h2 id="goal-temp"> {{ goal_temp }} °C</h2>
                <br>
                <button onclick="plusTemp()" class="btn btn-danger btn-block">+</button>
                <button onclick="minTemp()" id="set-friday" class="btn btn-primary btn-block">-</button>
            </div>
        </div>
    </div>
    <button onclick="window.location.reload()" class="btn btn-info btn-block">Refresh</button>
</div>

<script type=text/javascript>
    var temp = {{ goal_temp }}

    const Http = new XMLHttpRequest();
    const plusUrl ='/temp_plus';
    const minUrl ='/temp_min';

    function plusTemp() {
            Http.open('GET', plusUrl)
            Http.send()

            temp = temp + 0.5
            document.getElementById("goal-temp").textContent = `${temp} °C`;
    };
    function minTemp() {
            Http.open('GET', minUrl)
            Http.send()
            temp = temp - 0.5
            document.getElementById("goal-temp").textContent = `${temp} °C`;
    };

</script>